# Node.js
node_modules/
npm-debug.log
yarn-error.log

# React Native
android/build/
ios/build/
android/.gradle/
ios/Pods/
**/android/app/build/
**/ios/Pods/

# IDEs
.DS_Store
.idea/
.vscode/
*.iml
*.hprof
*.hmap
*.ipa
*.xcuserstate

# Build artifacts
*.apk
*.aab
*.ipa

# Miscellaneous
*.log
*.lock
